@import url('https://fonts.googleapis.com/css?family=Cute+Font');
h1 {
    color:red;
    text-align: center;
}
img {
    width: 400px;
    text-align: center;
}
body {
    background-color: aquamarine;
    text-align:center;
}
ol li {
    color: blue;
    font-size: 1.2em;
    text-align: center;
}
h3, h2 {
    font: 'Cute Font', sans-serif;
}
a {
    text-decoration: none;
    color: rgb(20, 30, 200); 
 }
 
 a:hover {
     color: purple;
     font-style: italic;
 }
 ul li, ol {
     display: inline-block;
 }
 hr {
    width: 4000px;
    padding: 0;
    height: 2px;
    background-color:red;
    opcaity: 0.5;
    }